@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
html .mceContentBody {
	max-width: 75%;
	font-size: 1rem; 
	line-height: 1.5rem; 
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #5e5d5c;
}

a, a:visited {}
a:hover {}

p { margin:0 0 1.5em 0; }
p:last-child { margin-bottom:0; }
h1 a, .h1 a, 
h2 a, .h2 a, 
h3 a, .h3 a, 
h4 a, .h4 a, 
h5 a, .h5 a { 
	text-decoration: none; 
}

h1, .h1 { 
	font-size: 2.2rem; 
	line-height: 2rem; 
}

h2, .h2 { 
	font-size: 1.5rem; 
	line-height: 1.75rem; 
}

h3, .h3 { 
	font-size: 1.2rem; 
	line-height: 1.5rem;
}

h4, .h4 { 
	font-size: 1.05rem; 
	line-height: 1.2rem;
}

h5, .h5 { 
	font-size: 0.846rem; 
	line-height: 2.09rem; 
	text-transform: uppercase; 
	letter-spacing: 2px; 
}

h1,
h2,
h3,
h4,
h5 {
	margin:0 0 22px 0;
	font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
	font-weight: 400;
}

h3, .h3,
h4, .h4, 
h5, .h5 {
	font-weight: 700;
}

.read-more {}

table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}

td, 
td img { 
	vertical-align: top; 
}

table { 
	width: 100%; 
}

table th { 
	border-bottom: 2px solid #848484; 
	text-align: left; 
}

table td { 
	border-bottom: 1px solid #d0d0d0; 
	padding: 5px; 
}

dl { 
	margin: 1.75em 0 1.75em; 
}

dt { 
	background-color: none;
	font-style: italic; 
	margin-top: 1.25em; 
	font-size: 1.13em; 
	font-weight: 700; 
	border-bottom: 1px solid #999; 
}

dd { 
	font-style: italic; 
	font-size: .85em; 
	margin-top: 1em; 
	line-height: 1.6em; 
}

/* code & pre box resets */
pre {  
	padding: 15px;  
	white-space: pre;  
	white-space: pre-wrap;  
	white-space: pre-line;  
	word-wrap: break-word; 
}

/* form & input resets */
pre, 
code, 
kbd, 
samp { 
	font-family: monospace, sans-serif; 
	margin: 1.5em; 
}

ul, ol, table, dl { margin: 1.5em 0; }
ul, ol { list-style-position:outside; line-height:1.5; margin-left: 2.2em; margin-right: 2.2em; }
li { margin-bottom: 0.75em; }
ul li { list-style-type: disc; }
ol li { list-style-type: decimal; }
			
blockquote { font-style:italic; line-height:1.6em; margin: 1.5em 2.2em; }
blockquote:before { font-family:Georgia, serif; content:open-quote; font-size:2.75em; text-indent:-.8em; margin-top:.1em; float:left; opacity:.3; }
			
video { display: block; margin: 1.5em 0; max-width: 100%; }
object { display: block; margin: 1.5em 0; max-width: 100%; }
embed { display: block; margin: 1.5em 0; max-width: 100%; }
iframe { display: block; margin: 1.5em 0; max-width: 100%; }
			
/* image alignment & styles */
			
img { margin: 0 0 1.5em 0; max-width: 100%; height: auto; }
.alignleft, img.alignleft, img[align=left] { margin-right:1.5em; margin-bottom:1em;	margin-top:.75em; display: inline; float: left; }
.alignright, img.alignright, img[align=right] { margin-left:1.5em; margin-bottom:1em; margin-top:.75em; display: inline; float: right; }
.aligncenter, img.aligncenter, img[align=center] { margin-right: auto; margin-left: auto; display: block; clear: both; }